<html>
    <head>
        <title>crockpi</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>
            $(function() {
                setInterval(getchart,2000);
            });
            
            function getchart() {
                $.get('/_get_chart',
                        function(data) {
                            $("#chart").html(data);
                        });
            }
        </script>
    </head>
    <body>
        Target Temp: {{target}} degrees fahrenheit
        <div id=chart></div>
    </body>
</html>
 
