<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %} - crockpi</title>
        <link rel="stylesheet" href="static/style.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>
            $(function() {
                getTemp();
                getCurrentSessionString();
                setInterval(getTemp,2000);
            });

            function getTemp() {
                $.get('/_get_temp',
                        function(data) {
                            $("#current_temp").html("<p>" + data + "F</p>");
                        });
            }

            function getCurrentSessionString() {
                $.get('/_get_current_session_string',
                        function(data) {
                            $("#current_session").html("<p>" + data + "</p>");
                        });
            }
        </script>
        {% endblock %}
    </head>
    <body>
        <ul>
            <li><a href="/index">current</a></li>
            <li><a href="/history">history</a></li>
            <li><a href="/control">control</a></li>
            <div id=nav_right>
            <li id=current_session></li>
            <li id=current_temp></li>
            </div>
        </ul>
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>
