<html>
    <head>
        <title>crockpi</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>
            $(function() {
                setInterval(getchart,10000);
            });
            
            function getchart() {
                $.get('/_get_chart',
                        function(data) {
                            $("#chart").html(data);
                        });
            }
        </script>
    </head>
    <body>
        {{target}} F  
        <a href="/history">History</a>  
        <a href="/control">Control</a>
        <div id=chart>{{chart|safe}}</div>
    </body>
</html>
 
